body {
  background-color: rgb(44, 44, 44);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #f5f5f5;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #3f3f3f;
} 

::-webkit-scrollbar-thumb {
  background-color: #949494;
}

::-moz-selection {
  background-color: #3a3a3a;
}

::selection {
  background-color: #3a3a3a;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
  font-weight: 600;
}

a {
  text-decoration: none !important;
  color: #2b5de7;
}
/*
div {
  text-align: center;
}*/

/*
h1 {
  text-align: center;
  margin-top: 15%;
}*/

button {
  background-color: rgb(44, 44, 44);
  border: solid;
  border-width: 3px;
  border-color: rgb(105, 105, 105);
  display: inline-block;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size:16px;
  text-decoration: none;
  padding:9px 20px;
  outline: none;
  color: #f5f5f5
}

/*
-moz-border-radius:28px;
-webkit-border-radius:28px;
border-radius:28px;
*/

button:hover {
  background-color: #4e4e4e;
}

input {
  outline: none;
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: rgb(66, 66, 66);
  color: white;
}

input:focus {
  background-color: rgb(54, 54, 54);
}

/*Classes*/
/* nice-box class */
.nice-box {
  border: solid;
  border-width: 2px;
  border-color: rgb(97, 97, 97);
}

.nice-box p {
  margin-left: 10px;
  margin-right: 10px;
}

.nice-box h1 {
  margin-left: 10px;
  margin-right: 10px;
}

.nice-box h2 {
  margin-left: 10px;
  margin-right: 10px;
}

.nice-box h3 {
  margin-left: 10px;
  margin-right: 10px;
}

.nice-box h4 {
  margin-left: 10px;
  margin-right: 10px;
}

.nice-box div {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.nice-box button {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
